@import "./base/base";
@import "./layouts/layouts";
@import "./components/buttons";
@import "./layouts/restos";
@import "./layouts/homepage";


/*loader*/
@keyframes bars 
{
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}

.load
{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;

    &_bar
    {
        background: linear-gradient($color_secondary, $color_primary);
        width: 100%;
        height: 100px; 
        animation: bars 10000ms;
    }
}

/*responsive*/

@media screen and (max-width:1100px) 
{

    .explore_title
    {
        font-size: 28px;
    }

    .explore_text
{
    font-size: 18px;
}

    #fonction_list
    {
        padding: 0;
        margin: 1rem;
        display: contents;
    }

    .fonction_filter
    {
        padding: 1rem;
        margin: 1rem;
    }

    .files
    {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    }

    .menus_carte
    {
        display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 2rem;
    }

    .number
    {
        top: 10px;
    }
}


@media screen and (max-width:850px)
{
    #picture
    {
        max-height: 21rem;
    }

    
}