html {
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

h1, .menus_header {
  font-family: "Shrikhand", cursive;
}

.contents {
  position: relative;
  max-width: 1280px;
  margin: auto;
}

.header {
  margin: 1rem;
  position: relative;
}

.header_logo {
  margin: 0;
  text-align: center;
}

#footer {
  background-color: #353535;
}
#footer .footer_logo {
  color: #ffffff;
  padding: 0 1rem;
  margin: 0;
  font-size: 1.3rem;
}

.footer_list {
  list-style: none;
}
.footer_list .footer_text {
  margin: 0.4rem 0;
}
.footer_list .footer_text .footer_link {
  color: #ffffff;
}

#search {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #E9EDEB;
  padding: 1rem;
}

.search_city {
  margin-left: 1rem;
  font-weight: 700;
}

#explore {
  text-align: center;
  padding: 2rem;
  background-color: #FAF9F9;
}

#fonction {
  padding: 2rem 1.2rem;
}

.fonction_title {
  margin: 0;
  margin-bottom: 1rem;
}

#fonction_list {
  display: flex;
  padding: 0;
  margin: 0;
}

.fonction_filter {
  padding: 1.5rem;
  display: flex;
  position: relative;
  background-color: #F5F5F5;
  border-radius: 1rem;
  flex: 1;
  margin: 0 0 0 1rem;
  box-shadow: 0 0 8px #0000002e;
}

.fonction_icon {
  margin-right: 1rem;
}

.fonction_text {
  margin: 0;
}

#restaurants {
  background-color: #F5F5F5;
  padding: 2rem;
}

.files {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.file {
  background-color: #ffffff;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
}
.file_img {
  object-fit: cover;
  width: 100%;
  height: 14rem;
  border-radius: 1rem 1rem 0 0;
  z-index: 1;
}

.file_new {
  background-color: #99E2D0;
  padding: 0.5rem;
  position: absolute;
  top: 3rem;
  z-index: 2;
}

.file_text {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.file_info {
  flex: 1;
}

.file_title {
  margin: 0 0 0.3rem 0;
}

.file_subtitle {
  margin: 0;
}

/*Pages HTML annexes*/
.resto_img {
  width: 100%;
  object-fit: cover;
  max-height: 40rem;
}

#menus {
  background-color: #F5F5F5;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  margin-top: -4rem;
}

.menus_header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.menus_carte {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.menus_title {
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 5px solid #99E2D0;
}

.menus_section {
  padding: 1rem;
}

#menu {
  display: flex;
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0 16px #0000002e;
}

.menu_text {
  flex: 1;
}

.menu_title {
  margin: 0;
}

.menu_subtitle {
  margin: 0;
}

.menu_price {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}

.but_command {
  display: flex;
  padding: 0 2rem;
  justify-content: center;
}

/*responsive*/
@media screen and (max-width: 1100px) {
  #fonction_list {
    padding: 0;
    margin: 1rem;
    display: contents;
  }

  .fonction_filter {
    padding: 1rem;
    margin: 1rem;
  }

  .files {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .menus_carte {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
