/*buttons*/

.but_command
{
    display: flex;
    padding: 0 2rem;
    justify-content: center;
}

.button
{
    background: linear-gradient($color_secondary, $color_primary);
    padding: 0.75rem 1rem;
    color: #F5F5F5;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 0 16px #0000002e;
    font-size: 1rem;

    &:hover
    {
      background-color: #F5F5F5;
      box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
      transition-duration: 800ms;
      filter: brightness(1.1);
    }
}

.menu_button
{
    padding: 1rem;
    justify-content: center;
    display: flex;
}