html
{
    font-family: 'roboto', sans-serif;
}

a
{
    text-decoration: none;
    color: inherit;
}

$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;

body
{
    margin: 0;
}
h1, .menus_header
{
    font-family : 'Shrikhand', cursive ;
}

.contents
{
    position: relative;
    max-width: 1280px;
    margin: auto;
}


#footer
{
    background-color: #353535;

        .footer_logo
    {
        color: #ffffff;
        padding: 0 1rem;
        margin: 0;
        font-size: 1.3rem;
    }
}

.footer_list
{
    list-style: none;

    .footer_text
    {
        margin: 0.4rem 0;
        
        .footer_link
        {
            color: #ffffff;
        }
    }
}