/*loader*/
@keyframes loading
{
    from
    {
      opacity: 100%;
    }
  
    to 
    {
      opacity: 0%;
      visibility: hidden;
    }
}

.loader
{
    background-color: #f5f5f5;
    opacity: 0.9;
    display: flex;
    position: fixed;
    justify-content: $position;
    align-items: $position;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    animation: loading 0.2s 2s forwards;
}

@keyframes bars 
{
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}

.load
{
    width: 8rem;
    height:3rem;
    display: flex;
    justify-content: space-evenly;

    &_bar
    {
        background: linear-gradient($color_secondary, $color_primary);
        width: 1rem;
        height: 8rem; 
        animation: bars 1000ms infinite;
        animation-direction: alternate;
    }
}

#restaurants
{
    background-color: #F5F5F5;
    padding: 2rem;
}


.files
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.file 
{
    background-color: #ffffff;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    position: relative;

    &_img
    {
        object-fit: cover;
        width: 100%;
        height: 14rem;
        border-radius: 1rem 1rem 0 0;
    }

        &_new
        {
            background-color: $color_tertiary;
            padding: 0.5rem;
            position: absolute;
            top: 0rem;
            right: 1rem;
        }
}



.file_text
{
    padding: 1rem;
    display: flex;
    align-items: $position;
}

.file_info
{
    flex: 1;
}

.file_title
{
    margin: 0 0 0.30rem 0;
}
.file_subtitle
{
    margin: 0;
}

.file_heart:hover
{
    .fas.fa-heart
        {
            opacity: 1;
            transition: 0.3s ease-in-out;
        }

    .far.fa-heart
        {
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
}

.fas.fa-heart
{
    font-size: 1.5rem;
    position: absolute;
    right: 25px;
    bottom: 25px;
    background: linear-gradient($color_secondary, $color_primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
}

.far.fa-heart
{
    font-size: 1.5rem;
    position: absolute;
    right: 25px;
    bottom: 25px;
    opacity: 1;
}

.menus_heart:hover
{
    .fas.fa-heart
        {
            opacity: 1;
            transition: 0.3s ease-in-out;
        }

    .far.fa-heart
        {
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
}

.menus_heart
{
    position: relative;
}