.header
{
    margin: 1rem;
    position: relative;
}

.header_logo
{
    margin: 0;
    text-align: center;
}

#footer
{
    background-color: #353535;

        .footer_logo
    {
        color: #ffffff;
        padding: 1.4rem 0 0.8rem 1.8rem;
        margin: 0;
        font-size: 1.3rem;
    }
}

.footer_list
{
    list-style: none;
    margin-bottom: 0;
    padding: 0 0 2rem 1.5rem;

    .footer_text
    {
        margin: 0.4rem 0 0 0;
        
        .footer_link
        {
            color: #ffffff;
        }
    }
}